main {
    margin: 100px;
    padding: 50px;
    border: 5px solid white;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    /* 흐림 효과 적용 */

}

main p {
    text-align: center;
    color: black;
    text-shadow: 0 0 1px black;

}

#heading {
    font-size: 60px;
    font-family: 'Allan';
}


#button {
    color: white;
    font-size: 20px;
    background-color: rgb(255, 132, 1);
}

#button:hover {
    color: black;

}
#username{
    color: white;
}


#startChatbutton {
    font-family: 'Kalam';
    color: rgb(10, 8, 0);
    font-size: 20px;
    background-color: rgb(255, 132, 1);
}

#startChatbutton:hover {
    color: white;

}

.excited-text {
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (min-width:1500px) {

    main {
        height: 600px;
        backdrop-filter: blur(6px);

    }
    main p {
        font-size:25px;
    }

    #heading {
        font-size: 90px;
    }

}


@media screen and (max-width: 480px)  {

    html, body {
        height: 100%;
        overflow-y: auto;
      }

    main {
        height: 650px;
        margin: 10px;
        padding: 50px;
        backdrop-filter: blur(6px);

    }


    main p {
        font-size:18px;
    }

    #heading {
        font-size: 60px;
    }

    #startChatbutton {
        font-size: 15px;   
    }

}